@page "/songs"
@inject ISetListrDb Db
@inject NavigationManager Navigation

<h3>Songs</h3>
<br />
<FluentButton OnClick="AddSongClicked">Add Song</FluentButton>

<FluentDataGrid Items="_songs"
                Pagination="@_pagination"
                TGridItem="Song"
                AutoFit="true"
                ResizableColumns="true"
                RowSize="DataGridRowSize.Medium">

  <PropertyColumn Property="@(s => s.Name)" Sortable="true" />
  <PropertyColumn Property="@(s => s.Duration)" Format="@(@"mm\:ss")" Sortable="true" />
  <TemplateColumn Sortable="false" Align="Align.Center">
    <FluentButton Appearance="@Appearance.Stealth"
                  IconEnd="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Regular.Size20.Delete())"
                  OnClick="@(() => DeleteSongAsync(context))">
    </FluentButton>
  </TemplateColumn>
</FluentDataGrid>

<FluentPaginator State="@_pagination" />
