@using Microsoft.FluentUI.AspNetCore.Components.Extensions
@inherits LayoutComponentBase

<FluentLayout>
  <FluentHeader>
    SetListr
  </FluentHeader>
  <FluentStack Orientation="Orientation.Horizontal" Width="100%">
    <FluentNavMenu Collapsible="true" Width="260" ExpandedChanged="NavMenuExpansionChanged">
      <FluentNavLink Href="/" Icon="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Regular.Size20.Home())" IconColor="Color.Accent">
        Home
      </FluentNavLink>

      <FluentNavLink Href="/songs" Icon="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Regular.Size20.MusicNote2())" IconColor="Color.Accent">
        Songs
      </FluentNavLink>

      <FluentNavLink Href="/setlists" Icon="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Regular.Size20.List())" IconColor="Color.Accent">
        Setlists
      </FluentNavLink>

      <FluentDesignTheme @bind-Mode="@Mode"
                         @bind-CustomColor="@CustomColor"
                         StorageName="theme" />

      <FluentGrid hidden="@ThemeGridHidden">
        <FluentGridItem>
          <FluentSelect Label="Theme"
                        Width="250px"
                        Items="@(Enum.GetValues<DesignThemeModes>())"
                        @bind-SelectedOption="@Mode" />
        </FluentGridItem>

        <FluentGridItem>
          <FluentSelect Label="Color"
                        Items="@(Enum.GetValues<OfficeColor>().Select(i => (OfficeColor?)i))"
                        Height="200px"
                        Width="250px"
                        @bind-SelectedOption="@OfficeColor">
            <OptionTemplate>
              <FluentStack>
                <FluentIcon Value="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Filled.Size20.RectangleLandscape())"
                            Color="Color.Custom"
                            CustomColor="@(@context.ToAttributeValue() != "default" ? context.ToAttributeValue() : "#036ac4")" />
                <FluentLabel>@context.ToAttributeValue()</FluentLabel>
              </FluentStack>
            </OptionTemplate>
          </FluentSelect>
          <FluentButton Appearance="Appearance.Accent" OnClick="PickRandomColor">Feeling lucky?</FluentButton>
        </FluentGridItem>
      </FluentGrid>
    </FluentNavMenu>

    <FluentBodyContent>
      @Body
    </FluentBodyContent>
  </FluentStack>
</FluentLayout>

<div id="blazor-error-ui" data-nosnippet>
  An unhandled error has occurred.
  <a href="." class="reload">Reload</a>
  <span class="dismiss">🗙</span>
</div>

